name: Build RustDesk Windows (Flutter only)

on:
  workflow_dispatch:

env:
  FLUTTER_VERSION: "3.24.5"
  LLVM_VERSION: "15.0.6"
  VCPKG_COMMIT_ID: "120deac3062162151622ca4860575a33844ba10b"
  VERSION: "1.4.4"

jobs:
  build-windows-flutter:
    runs-on: windows-2022

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: ${{ env.LLVM_VERSION }}

      - name: Install Flutter
        uses: subosito/flutter-action@v2.12.0
        with:
          channel: "stable"
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Install latest stable Rust
        run: |
          rustup update stable
          rustup default stable
          rustc --version

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: C:\vcpkg
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}

      - name: Install dependencies via vcpkg
        run: |
          $env:VCPKG_DEFAULT_HOST_TRIPLET = "x64-windows-static"
          C:\vcpkg\vcpkg install --triplet x64-windows-static --x-install-root="C:\vcpkg\installed"

      - name: Install flutter_rust_bridge_codegen
        run: |
          cargo install flutter_rust_bridge_codegen --version 2.11.1 --locked --force

      - name: Generate Flutter Rust Bridge code
        run: |
          flutter_rust_bridge_codegen --rust-input ./src/flutter_ffi.rs --dart-output ./flutter/lib/bridge_generated.dart

      - name: Build RustDesk (Windows Flutter)
        run: |
          python .\build.py --portable --hwcodec --flutter --skip-portable-pack
          mkdir build-output
          move .\flutter\build\windows\x64\runner\Release build-output\rustdesk

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: rustdesk-windows
          path: build-output\rustdesk
